{
    "log_ban": "",
    "log_kick": "",
    "log_forceban": "",
    "log_softban": "",
    "log_cleanban": "",
    "log_mass_ban": "",
    "log_mass_kick": "",
    "log_unban": "",
    "log_mute": "",
    "log_unmute": "",
    "log_warn": "",
    "log_censor": "",
    "log_zalgo": "",
    "log_spam": "",
    "log_warn_clearing": "",
    "log_inf_claim": "",
    "log_manual_unban": "",
    "log_reapplied_mute": "",

    "user_banned": "",
    "user_unbanned": "",
    "user_kicked": "",
    "user_cleanbanned": "",
    "user_forcebanned": "",
    "user_softbanned": "",
    "user_muted": "",
    "user_warned": "",
    "user_warns_cleared": "",
    "inf_claimed": "",

    "ban_not_allowed": "",
    "target_not_on_server": "",
    "target_already_banned": "",
    "ban_failed": "",
    "kick_failed": "",
    "unban_failed": "",

    "kick_not_allowed": "",
    "mute_not_allowed": "",
    "warn_not_allowed": "",
    "warnclearing_not_allowed": "",

    "user_already_muted": "",
    "not_banned": "",
    "is_system_user": "",

    "case_not_on_this_server": "",
    "case_already_owned": "",

    "command_canceled": "",
    "processing": "",

    "not_ranked": "",

    "no_custom_commands": "",
    "no_trigger": "",
    "no_reply": "",
    "trigger_too_long": "",
    "command_already_exists": "",
    "command_added": "",
    "command_removed": "",
    "command_does_not_exist": "",
    "current_prefix": "",
    "prefix_too_long": "",
    "prefix_updated": "",
    "default_role_forbidden": "",
    "mute_missing_perm": "",
    "role_too_high": "",
    "updated_mute_role": "",
    "no_valid_module": "",
    "enabled_module_channel": "",
    "enabled_module_no_channel": "",
    "disabled_module": "",
    "already_ignored_user": "",
    "not_existing_ignored_user": "",
    "ignored_user_added": "",
    "ignored_user_removed": "",
    "black_list_disabled": "",
    "black_list_empty": "",
    "added_to_black_list": "",
    "removed_from_black_list": "",
    "already_on_black_list": "",
    "not_on_black_list": "",
    "no_mute_role": "",
    "lvlsystem_disabled": "",

    "NaN": "",
    "number_too_small": "",
    "number_too_big": "",
    "user_not_found": "",
    "unknown_message": "",
    "unknown_channel": "",

    "log_message_deletion": "",
    "log_message_edit": "",

    "log_join": "",
    "log_leave": "",

    "about_help": "",
    "ping_help": "",
    "help_help": "",
    "commands_help": "",
    "command_create_help": "",
    "command_remove_help": "",
    "config_help": "",
    "configuration_log_help": "",
    "ignored_users_help": "",
    "configuration_add_help": "",
    "jumbo_help": "",
    "userinfo_help": "",
    "server_help": "",
    "avatar_help": "",
    "cleanup_help": "",
    "welcome_msg_help": "",
    "welcome_channel_help": "",
    "welcome_off_help": "",

    "create_help": "",
    "delete_help": "",

    "enable_help": "",
    "disable_help": "",
    "show_help": "",
    "black_list_help": "",
    "prefix_help": "",
    "mute_role_help": "",
    "action_log_help": "",
    "ban_help": "",
    "kick_help": "",
    "cleanban_help": "",
    "softban_help": "",
    "forceban_help": "",
    "unban_help": "",
    "mute_help": "",
    "mban_help": "",
    "mkick_help": "",
    "massban_help": "",

    "purge_help": "",
    "clean_help": "",
    "clean_until_help": "",
    "clean_all_help": "",
    "clean_last_help": "",
    "clean_user_help": "",
    "clean_bots_help": "",
    "clean_custom_help": "",
    "clean_between_help": "",

    "warn_help": "",
    "inf_help": "",
    "inf_find_help": "",
    "inf_info_help": "",
    "inf_claim_help": "",
    "clearwarns_help": "",

    "rank_help": "",
    "leaderboard_help": "",
    "lvlrole_help": "",
    "ranks_help": "",
    "add_help": "",
    "remove_help": "",

    "about": "",
    "about_text": "",
    "invalid_command": "",
    "command_list": "",
    "custom_commands": "",
    "log_mod_actions": "",
    "no_ignored_users": "",
    "ignored_users": "",

    "log_channels": "",
    "log_actions": "",
    "enabled_modules": "",
    "disabled_modules": "",

    "censor_list": "",

    "warn_error": "",

    "fetching_inf": "",
    "no_inf": "",
    "inf_for": "",
    "lvl_up": "",
    "role_added": "",
    "not_enough_for_lb": "",
    "fetching_lb": "",
    "lb": "",
    "already_role_for_lvl": "",
    "already_lvl_role": "",
    "max_lvl_roles": "",
    "added_lvl_role": "",
    "no_lvl_roles": "",
    "invalid_lvl_role": "",
    "removed_lvl_role": "",
    "lvl_roles": "",
    "deleted_role": "",

    "no_reason": "",
    "no_ban_then": "",
    "max_ban": "",
    "cant_ban_anyone": "",
    "aborting": "",
    "mban_success": "",
    "no_kick_then": "",
    "max_kick": "",
    "cant_kick_anyone": "",
    "mkick_success": "",

    "no_delete_then": "",
    "already_cleaning": "",
    "too_many_messages": "",
    "clean_success": "",
    "cleaning_error": "",

    "no_member_object": "",
    "invalid_regex": "",
    "no_targets_found": "",
    "missing_reason_flag": "",
    "already_deleted": "",

    "working_on_action": "",
    "prompt_text": "",

    "invalid_length_unit": "",
    "max_length": "",
    "advanced_invalid_length_unit": "",

    "help_suffix": "",
    "still_caching": "",
    "still_getting_member_info": "",
    "just_joined": "",
    "missing_bot_perms": "",
    "missing_arg": "",
    "arg_parse_error": "",
    "on_cooldown": "",
    "missing_user_perms": "",
    "cant_send_message": "",
    
    "msg_too_long": "",
    "msg_success": "",
    "channel_success": "",
    "off_success": ""
}